body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #000080;
  padding: 0.5rem;
  background-color: #eeeeee;
  display: grid;
  align-items: center;
  justify-content: center;
}
header {
  grid-template-columns: 200px 1fr;
}
main {
  margin: 1rem auto;
  background-color: #bed;
  padding: 1rem;
}

h1 {
  color: #000080;
  font-size: 2.2rem;
}
footer {
  grid-template-columns: 1fr 200px;
}

/* Class Selectors */
.page {
  margin: 0 auto;
  max-width: 960px;
}
.logo {
  width: 100px;
  height: auto;
}
.header {
  grid-template-columns: 1fr 200px;
}
